@import url(https://fonts.bunny.net/css?family=space-grotesk:500);



*{
    font-family: 'Space Grotesk', sans-serif;
}


.copyright-div {
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    width: 100%;
    background-color: #000;
}


/* Copyright Text */

.copyright {
    color: #ffffff99;
    text-decoration: none;
    cursor: pointer;
}
footer{
    background-color: #000;
    display: flex;
    flex-direction: column;
    color: white;
    width: 80%;
    flex-wrap: wrap;
}

.footer-main{
    display: flex;
    width: 100%;
}
.footer-item{
    margin: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
}
.socials{
    display: flex;
    gap: 30px;
}
.icon{
    font-size: 1.2rem;
    cursor: pointer;
}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
}
body{
    margin: 0;
    padding: 0;
}
#footer-logo{
    margin-top: 20px;
    width: 100%;
}
.footer-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

@media only screen and (max-width: 640px){
    .footer-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-item{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .copyright{
        font-size: 10px;
    }
}

@media (min-width: 640px) and (max-width: 1200px){
    .footer-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    .footer-item{
    }
    
}