.desktop_navbar {
    position:fixed;
    display: flex;
    height: 4rem;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    background-color: #00000022;
    backdrop-filter: blur(15px);
    z-index: 5;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.desktop_navbar_logo_img {
    width: 5rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.desktop_navbar_link {
    font-size: 1.2rem;
    padding: .8rem;
    transition: all .5s;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.desktop_navbar_link:hover {
    color: var(--accent1);
}

.desktop_navbar_link2 {
    display: block;
    padding:.2rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
}
.desktop_navbar_link2_div {
    font-size: 1.2rem;
    padding: .8rem;
    transition: all .5s;
    margin-left: auto;
    margin-right: 2rem;
    font-weight: 700;
    border: solid 1px var(--accent1);
    border-radius: var(--roundness);
    text-align: center;
    cursor: pointer;
}
.desktop_navbar_link2_div:hover {
    border: solid 1px var(--accent2);
    background-color: var(--accent2);
    transform: scale(1.05)
}





.mobile_navbar {
    display: none ;
    overflow: hidden;
    background-color: #00000033;
    backdrop-filter: blur(15px);
    position: fixed;
    width: 100%;
    z-index: 5;
    flex-direction: row;
    min-height: 53px;
    position: relative;
}

.mobile_navbar_logo_img {
    position: absolute;
    display: block;
    height: 42px;
    padding-left: .5rem;
    top: 0;
    left: 0;
    padding-top: 3.5px;
}

.mobile_navbar #mobile_navbar_links {
    display: none;
    margin-top: 53px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #00000011;
}

.mobile_navbar_link {
    padding:.5rem;
}

.mobile_navbar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.mobile_navbar .icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00000044;
    display: block;
    padding: 16px;
}

.mobile_navbar_logo_img_a {
    display: block;
    background-color: #00000022;
} 






.headline {
    margin-top: 2rem;
    color: #fff;
    font-size:3rem;
    text-align: center;
    font-weight: 600;
}


#more {
    padding-top:5rem;
    margin-top: -5rem;
}
#discord {
    padding-top:5rem;
    margin-top: -5rem;
}
#about {
    padding-top:5rem;
    margin-top: -5rem;
}
#join {
    padding-top:5rem;
    margin-top: -5rem;
}




@media only screen and (max-width: 600px) {
    .desktop_navbar{
        display:none;
    }
    .mobile_navbar{
        display: flex !important;
    }
    .headline {
        font-size:1.2em;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .main1_logo {
        max-width: 16rem;
    }
    .main1_description {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .main1_ipcopier {
        display: none;
    }
    .main5_admins_img {
        align-self: center;
        padding-top: 1rem;
    }
    .main5_admins_div{
        flex-direction: column;
        min-height: 0;
    }
    .main5_admins_description_div {
        max-width: 100%;
        padding: 2rem;
    }
    .main4_dc_div {
        flex-direction: column;
    }
    .main4_dc_widget {
        height: 20rem;
        width: 100%;
    }
    .main3_join_div {
        min-width: 20rem;
        min-height: 9rem;
    }
    .main3_join_content_div {
        padding:1rem;
    }
    .main5_admins_dev_type1 {
        padding-right: 0;
    }
    .main5_admins_dev_type2 {
        padding-left: 0;
    }
}
@media only screen and (max-width: 360px) {
    .main3_join_categories {
        font-size:1rem;
    }
    .main3_join_values {
        font-size:1rem;
    }
    .main3_join_div {
        min-width: 10rem;
        padding: .5rem;
    }
    .main3_join_div_div {
        margin: .25rem;
    }
}
